.main {
  left: 150px;
  position: relative;
}

.sidebar {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-left: 10px;
}

.trainer-pokeball-icon-row > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
