body {
  width: 100%;
}

.main {
  left: 150px;
  position: relative;
  margin: 0 !important;
}

.sidebar {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-left: 10px;
}

.trainer-pokeball-icon-row > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pokemon {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.row {
  align-items: center;
}
