<div class="sidebar">
  <% trainers.forEach((trainer) => { %> <%- include('trainer', {name:
  trainer.name, pokemon1: trainer.pokemon1, pokemon2: trainer.pokemon2,
  pokemon3: trainer.pokemon3, pokemon4: trainer.pokemon4, pokemon5:
  trainer.pokemon5, pokemon6: trainer.pokemon6}) %> <% }) %>
</div>
